<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    
  <display-name>webapp</display-name>
  
  <!-- Custom Servlet test -->
  <servlet>
   	<description></description>
   	<display-name>LineaServlet</display-name>
   	<servlet-name>LineaServlet</servlet-name>
   	<servlet-class>org.lalosuarez.app.servlet.LineaServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
   	<servlet-name>LineaServlet</servlet-name>
   	<url-pattern>/lineas</url-pattern>
  </servlet-mapping>
  
  <session-config>
       <session-timeout>30</session-timeout>
  </session-config>
  
  
  <!-- Spring MVC integration -->  
  <servlet>
    <servlet-name>mvc-dispatcher</servlet-name>
	  <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	<load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
	<servlet-name>mvc-dispatcher</servlet-name>
	<url-pattern>/admin/*</url-pattern>
  </servlet-mapping>
  
  <context-param>
	<param-name>contextConfigLocation</param-name>
	<param-value>/WEB-INF/mvc-dispatcher-servlet.xml</param-value>
  </context-param>


  <!-- Servlet for jax-ws -->	
  <servlet>
	<servlet-name>soap</servlet-name>
	<servlet-class>
		com.sun.xml.ws.transport.http.servlet.WSSpringServlet
	</servlet-class>
	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
	<servlet-name>soap</servlet-name>
	<url-pattern>/soap/*</url-pattern>
  </servlet-mapping>
  <listener>
	<listener-class>
		com.sun.xml.ws.transport.http.servlet.WSServletContextListener
	</listener-class>
  </listener>
  
  <!--Listener for Spring MVC integration -->
  <listener>
	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>  



  <!-- Sitemesh integration -->
  <filter>
    <filter-name>sitemesh</filter-name>
    <filter-class>com.opensymphony.module.sitemesh.filter.PageFilter</filter-class>
  </filter>
 
  <filter-mapping>
    <filter-name>sitemesh</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>


	<!-- Jersey servlet for jax-rs -->
  <servlet>
    <servlet-name>jersey-serlvet</servlet-name>
		
	<servlet-class>
<!--         	com.sun.jersey.spi.container.servlet.ServletContainer -->
      com.sun.jersey.spi.spring.container.servlet.SpringServlet
    </servlet-class>
		
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>org.lalosuarez.app.webservice</param-value>
	</init-param>
		
	<init-param>
	  <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
	  <param-value>true</param-value>
	</init-param>
		
	<load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>jersey-serlvet</servlet-name>
	<url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
				 
  <welcome-file-list>
  	<welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
</web-app>
